/*
  Project variables
  =================
*/


//------------------------------------------------------------------------------
//  Colors
//------------------------------------------------------------------------------


// Color table

$white:                       #ffffff;
$black:                       #000000;


$red:                         #ce202c;

$grey:                        #c1c2c7;
$light-grey:                  #d6d7d9;
$bg-grey:                     #f4f4f6;


$text:                        #3a3e4a;

// Colors in use

$body-bg:                     $white;
$text-color:                  $text;


$text-white:                  $white;


//------------------------------------------------------------------------------
//  Typography
//------------------------------------------------------------------------------


// $font-family:                   'Proxima Nova Regular', Helvetica, Arial, sans-serif;
// $font-family--light:            'Proxima Nova Light', Helvetica, Arial, sans-serif;
// $font-family--bold:             'Proxima Nova Bold', Helvetica, Arial, sans-serif;


// $font-family--serif:          Georgia, "Times New Roman", Times, serif;
// $font-family--monospace:      Menlo, Monaco, Consolas, "Courier New", monospace;



$font-size:                   16px;
$font-size-title:             36px;

$font-size-header:            15px;
$font-size-nav:               16px;


$font-size-big:               18px;
$font-size-small:             14px;


// $font-size-h2:                24px;
// $font-size-h3:                20px;

// $line-height:                 1.75;



